.landing-page-container {
  height: $bodyHeight;

  button {
    @include buttonStyle();
  }

  .user-info-area {
    @include fCentre();
    justify-content: space-around;
    height: 10vh;
    background-color: $grey;

    button {
      background-color: $red;
    }
  }

  .landing-page-options-area {
    @include tableStyle();
    @include fCentre(column);
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: calc($bodyHeight - 10vh);
    padding: 40px;

    .landing-page-tabs {
      width: max(80%, 350px);
      @include fCentre();
      justify-content: stretch;

      .tab {
        background-color: $grey;
        width: 100%;
        border-radius: 0;
        color: black;
      }

      .disabled {
        background-color: $blue;
        pointer-events: none;
        transform: scaleY(1.1);
        color: white;
      }
    }
  }
}
