.manage-grade-structure-container {
  width: max(60%, 350px);

  .manage-options-area {
    @include fCentre();
    justify-content: space-around;
    flex-wrap: wrap;

    .manage-quarter-selection-area {
      .label {
        font-weight: bold;
        margin-right: 10px;
      }

      label {
        margin-right: 20px;
      }

      input {
        margin-right: 5px;
      }
    }

    .manage-subject-selection {
      select {
        padding: 10px 20px;
        width: 250px;
      }
    }

    .manage-add-category-assignment {
      margin: 20px 0;

      button {
        margin: 0 20px;
      }
    }
  }
}
