.manage-grade-structure-container {
  .manage-options-area {
    @include fCentre();
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    button {
      margin-bottom: 20px;
    }
  }

  .manage-dropdown-area {
    input {
      padding: 10px 20px;
    }
    button {
      margin: 0 20px;
    }

    .remove-btn {
      background-color: $red;
    }

    .save-btn {
      background-color: $green;
    }
  }
}
