.manage-grade-structure-container {
  // width: max(60%, 350px);

  .manage-options-area {
    @include fCentre();
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    button {
      margin-bottom: 20px;
    }
  }

  .manage-dropdown-area {
    input {
      padding: 10px 20px;
    }
  }
}
