header {
  background-color: #333333;
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 40px;
}

.landing-page-container {
  height: 75vh;
}
.landing-page-container button {
  border-radius: 8px;
  border: none;
  background-color: #1f3a71;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  padding: 10px 20px;
}
.landing-page-container button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
.landing-page-container button:disabled {
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}
.landing-page-container .user-info-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  background-color: rgb(219, 219, 219);
}
.landing-page-container .user-info-area button {
  background-color: rgb(160, 36, 36);
}
.landing-page-container .landing-page-options-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 65vh;
  padding: 40px;
}
.landing-page-container .landing-page-options-area table {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.landing-page-container .landing-page-options-area table td,
.landing-page-container .landing-page-options-area table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.landing-page-container .landing-page-options-area table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.landing-page-container .landing-page-options-area table tr:hover {
  background-color: #ddd;
}
.landing-page-container .landing-page-options-area table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333333;
  color: white;
}
.landing-page-container .landing-page-options-area .landing-page-tabs {
  width: max(350px, 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: stretch;
}
.landing-page-container .landing-page-options-area .landing-page-tabs .tab {
  background-color: rgb(219, 219, 219);
  width: 100%;
  border-radius: 0;
  color: black;
}
.landing-page-container .landing-page-options-area .landing-page-tabs .disabled {
  background-color: #1f3a71;
  pointer-events: none;
  transform: scaleY(1.1);
  color: white;
}

.view-grades-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view-grades-container select {
  padding: 10px 20px;
  width: 200px;
}

.enter-grades-container button {
  margin: 0 20px;
}

.manage-grade-structure-container .manage-options-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.manage-grade-structure-container .manage-options-area button {
  margin-bottom: 20px;
}
.manage-grade-structure-container .manage-dropdown-area input {
  padding: 10px 20px;
}

footer {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  background-color: rgb(219, 219, 219);
  text-align: center;
  padding: 10px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.log-in-area {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.log-in-area button {
  border-radius: 8px;
  border: none;
  background-color: #1f3a71;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  padding: 10px 20px;
  padding: 20px 40px;
  font-size: large;
}
.log-in-area button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
.log-in-area button:disabled {
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}

select {
  padding: 10px 20px;
  width: 200px;
}/*# sourceMappingURL=App.css.map */